# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Windows
Thumbs.db
Desktop.ini

# Custom
.env
*.env
.vscode/

# virtual environment
myenv/
.idx/
.venv/

# python cache
**/*.pyc
/.vs

# backend directories and files
backend/venv/
backend/logs/
backend/venv311/

# Hardhat files
cache/
artifacts/
typechain/ 
__pycache__/

#draft deploy
test_function/
