BLOCKCHAIN_RPC_URL=https://sepolia.infura.io/v3/31c6f41e16fe4968a5ecfd07c2aedb9f
BLOCKCHAIN_PRIVATE_KEY=2b3186de4e4af2e3e4a5d22e5c13948c5c6344ec9a4b8bccf74a0f6367107581
CHAIN_ID=11155111

# IPFS Configuration (Optional - for metadata)
PINATA_API_KEY=4ca9bd59e6d97832f482
PINATA_SECRET_KEY=3ee3988f71a4478f60a6bb5a04239e341385d9e9555229bb98c96e890c3eaf14
PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiI5YzU1YWVjMi00ZDI3LTQ2YmQtYTg3MS03NDg2MzQzZDgzMTQiLCJlbWFpbCI6InRyYW5kdW9uZ21pbmhkYWlAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsInBpbl9wb2xpY3kiOnsicmVnaW9ucyI6W3siZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiRlJBMSJ9LHsiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiTllDMSJ9XSwidmVyc2lvbiI6MX0sIm1mYV9lbmFibGVkIjpmYWxzZSwic3RhdHVzIjoiQUNUSVZFIn0sImF1dGhlbnRpY2F0aW9uVHlwZSI6InNjb3BlZEtleSIsInNjb3BlZEtleUtleSI6IjRjYTliZDU5ZTZkOTc4MzJmNDgyIiwic2NvcGVkS2V5U2VjcmV0IjoiM2VlMzk4OGY3MWE0NDc4ZjYwYTZiYjVhMDQyMzllMzQxMzg1ZDllOTU1NTIyOWJiOThjOTZlODkwYzNlYWYxNCIsImV4cCI6MTc4NTY3MzAyMn0.6MGftDSLqBcO2zSa395A3K_eKBiWtgQJBSoSwTe3F28
# These will be updated after deployment
LEARNING_DATA_REGISTRY=0x8cEfE03B60d0df6cb4f6383b1d0d610d195b5A7e
MODULE_PROGRESS_VERIFIER=0xB22A6bA466b3C4bc6a3C31c9fE872Ef6C84ecC58
LEARNING_ACHIEVEMENT_VERIFIER=0x609F8f949967D3ACB6b1700AdBd842A0E658fcA7
ZK_LEARNING_VERIFIER=0x849E289EE8c07e745C170F961Cfa406F2cDe6DE1
MODULE_PROGRESS_NFT=0x89a8C6E520011Ca666E8a414000b8028d8DDFCcC
LEARNING_ACHIEVEMENT_NFT=0x90f122Cff948f1bBdEe0c431de74FEdF5d3f302E
DIGITAL_TWIN_REGISTRY=0xAc046cd8F4E5b031c2148A283a7572fC27Fa3937
ZKP_CERTIFICATE_REGISTRY=0x603c655C2D99f140013f622Bd0f53712Cae5e0F2

# These will be updated after deployment
MONGODB_URI=mongodb+srv://tranduongminhdai:mutoyugi@cluster0.f6gxr5y.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
MONGODB_DB_NAME=learntwinchain

# Redis Configuration
REDIS_URL=redis://localhost:6379/0
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

#Milvus Configuration
MILVUS_URI=https://in03-28578d335cebf1b.serverless.gcp-us-west1.cloud.zilliz.com
MILVUS_USER=db_28578d335cebf1b
MILVUS_PASSWORD=Kw4|W<4FT-l//O6T

# Google 
YOUTUBE_API_KEY=AIzaSyAiExdnsMLRJfUpV1qTd_q2jVtS24vdNpgn 
GEMINI_API_KEY=

# JWT Configuration
JWT_SECRET_KEY={secrets.token_urlsafe(64)}
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7

# Session Configuration
SESSION_SECRET_KEY={secrets.token_urlsafe(64)}
SESSION_EXPIRE_SECONDS=10800

# Email Configuration (Update with your credentials)
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com
MAIL_FROM_NAME=LearnTwinChain
MAIL_STARTTLS=True
MAIL_SSL_TLS=False


# Frontend URL
FRONTEND_URL=http://localhost:5173




# Cloudflare IPFS Gateway (for faster access)
CLOUDFLARE_IPFS_GATEWAY=https://cloudflare-ipfs.com

# Security
CORS_ORIGINS=http://localhost:5173,http://localhost:3000,http://localhost:5180
ALLOWED_HOSTS=localhost,127.0.0.1

# Environment
ENVIRONMENT=development
DEBUG=True

# Celery Configuration (for background tasks)
CELERY_BROKER_URL=redis://localhost:6379/1
CELERY_RESULT_BACKEND=redis://localhost:6379/1

# SIWE Configuration
SIWE_DOMAIN=localhost:5173
SIWE_URI=http://localhost:5173





# STUDENT WALLET
STUDENT_ADDRESS=0x7603d3159104dE72884273D14827D9BF07242B21
STUDENT_PRIVATE_KEY=0ccdf276e0f213df03f7f0ccd60d71f8ce5644ae9b56f971d74ab343aa302b37